.intro-container {
  height: 100vh;
  display: flex;
  padding: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--taupe);
}

.intro-title {
  color: var(--brown);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--font-primary);
}

.intro-subtitle {
  color: var(--brown);
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: bold;
}

.intro-button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 180px;
  z-index: 0;
}

.intro-button:hover {
transform:rotate(-5deg)}