.options-panel {
  width:40%;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.category-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.category-btn {
  flex: 1;
  padding: 10px;
  background: var(--brown);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: var(--font-primary);
  cursor: pointer;
}

.options-area {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.category-btn.active {
  background: var(--tan);
  color: white;
}

.category-btn:hover {
  opacity: 0.8;
}

.section-title {
  font-family: var(--font-primary);
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--brown);
}

.section {
  margin-bottom: 20px;
  margin-top: -10px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding: 10px 14px;
  background: var(--taupe);
  border-color: var(--taupe);
  border-radius: 10px;
  font-family: var(--font-secondary);
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  background: var(--beige);
}

.btn.active {
  background: var(--brown);
  color: white;
}

.btn-large {
  font-size: 25px;
  padding: 14px 20px;
  border-radius: 12px;
}

.button-cakes {
    width: 70px;
}


.candle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  background: var(--taupe);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 40px;
}

.candle-btn:hover {
  background: var(--beige);
}

.candle-btn.active {
  background: var(--brown);
}

.candle-img {
  height: 60px;   
  width: auto;
  pointer-events: none;
}

.card-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.card-textarea {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  border-radius: 12px;
  border: 2px dashed var(--tan);
  background: rgba(255,255,255,0.5);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--brown);
  resize: vertical horizontal;
}
