.cake-preview {
  width: 50%;
  max-width: 420px;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.plate-wrapper {
  position: relative;
  width: 70%;
  margin-bottom: 50px;
  background: transparent;
}

.plate {
  width: 100%;
  opacity: 0.9;
  display: block;
  cursor: pointer;
}

.cake-img,
.icing-img,
.decor-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%); 
  pointer-events: none;
}

.cake-tier-1 {
  width: 60%;    
  bottom: 124%;     
  z-index: 1;
}

.cake-tier-2 {
  width: 45%;
  bottom: 160%;
  z-index: 3;
}

.cake-tier-3 {
  width: 30%;
  bottom: 190%;
  z-index: 5;
}


.icing-tier-1 {
  width: 67%;
  bottom: 127%;
  z-index: 1;
}

.icing-tier-2 {
  width: 45%;
  bottom: 164%;
  z-index: 3;
    left: 49%;

}

.icing-tier-3 {
  width: 30%;
  bottom: 185%;
  z-index: 5;
}


.decor-ruffles-1 {
  width: 66%;
  bottom: 130%;
  left: 49%;
  z-index: 7;
}

.decor-ruffles-2 {
  width: 49%;
  bottom: 153%;
  z-index: 7;
}

.decor-ruffles-3 {
  width: 45%;
  bottom: 180%;
  left: 51%;
  z-index: 7;
}

.decor-border-1 {
  width: 80%;
  bottom: 135%;
  z-index: 2;
}

.decor-border-2 {
  width: 60%;
  bottom: 167%;
  z-index: 4;
}

.decor-border-3 {
  width: 45%;
  bottom: 193%;
  left: 51%;
  z-index: 6;
}

.decor-roses-1 {
  width: 55%;
  bottom: 95%;
  z-index: 7;
}

.decor-roses-2 {
  width: 40%;
  bottom: 145%;
  z-index: 7;
}

.decor-roses-3 {
  width: 28%;
  bottom: 172%;
  z-index: 7;
}

.decor-bottom {
  position: absolute;
  bottom: 20%;
  width: 87%;
  left: 5.5%;
  pointer-events: none;
  z-index: 10;
}

.fruit-side {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 20;
}

.fruit-side-1 { 
  bottom: 90%; width: 67%; 
}
.fruit-side-2 { 
  bottom: 138%; 
  left: 49%;
  width: 47%; 
}
.fruit-side-3 { 
  bottom: 170%; width: 27%; 
}


.top-wrapper {
  position: relative;
  width: min(100%, 320px);
  height: 220px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-cake {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.top-cake-1 { width: 80%; z-index: 1;}

.top-cake-2 { width: 60%; z-index: 2;}

.top-cake-3 { width: 40%; 
  z-index: 3;}

.fruit-top-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  width: 85%;
  z-index: 20;
}

.fruit-top-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-52%, -50%);
  width: 67%;
  z-index: 20;
}

.fruit-top-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-52%, -51%);
  width: 47%;
  z-index: 20; 
}

.top-decor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.top-bottom-border {
  width: 98%;
}

.top-border-1 {
  width: 85%;
  transform: translate(-50%, -51%);
  z-index: 5;
}

.top-border-2 {
  width: 63%;
  transform: translate(-50%, -51%);
  z-index: 5;
}

.top-border-3 {
  width: 40%;
  transform: translate(-50%, -51%);
  z-index: 5;
}

.cake-candle, 
.cake-candle-1,  
.cake-candle-2,  
.cake-candle-3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
    
  pointer-events: none;
  z-index: 20;
}

.cake-candle-1 {
    top: -55%;
    width: 10%;
}

.cake-candle-2 {
    top: -87%;
    width: 8%;
}

.cake-candle-3 {
    top: -104.5%;
    width: 6%;
}