.cake-preview {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.plate-wrapper {
  position: relative;
  width: 70%;
  margin-bottom: 70px;
}

.plate {
  width: 100%;
  opacity: 0.9;
  display: block;
}

.cake-stack {
  position: absolute;
  bottom: 35%; 
  left: 50%;
  transform: translateX(-48%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.cake-layer-1 {
  width: 80%;
  pointer-events: none;
  z-index: 3; 
}

.cake-layer-2 {
  width: 60%;
  pointer-events: none; 
  margin-bottom: -13%;
  margin-left: -3%;
  z-index: 4;
}

.cake-layer-3 {
  width: 40%;
  pointer-events: none; 
  margin-bottom: -12%;
  margin-left: -3%;
  z-index: 5;
}



